header {
    height: 100vh;
    padding-top: 20%;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* ========= CTA ========= */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ========= ME ============ */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 22rem;
    /* aspect-ratio: 1/1; */
    height: max-width;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 670px) {
    header {
        height: 100vh;
    }
}